{% extends "base_generic.html" %}
{% block title %}
    Feedback - {{ block.super }}
{% endblock %}

{% block content %}
{#    <div class="content">#}
{#    <div class="section-inner clearfix">#}
{##}
{#        <h3>Submit Your feedback</h3>#}
{##}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            <table>#}
{#                <tr>#}
{#            <td>{{ form.id.label_tag }}</td>#}
{#            <td>#}
{#                {{ form.id.errors }}#}
{#                {{ form.id }}#}
{#                {{ form.id.help_text }}#}
{#            </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="id_fund">Fund</label></td>#}
{#                    <td><input type="text" id="id_fund" name="email"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="id_trade_direction">Trade Direction</label></td>#}
{#                    <td><input type="text" id="id_trade_direction" name="trade_direction"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="id_trader">Trader</label></td>#}
{#                    <td><input type="text" id="id_trader" name="trader"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="id_trading_fee">Trading fee</label></td>#}
{#                    <td><input type="text" id="id_trading_fee" name="trading_fee"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><label for="id_trading_share">Trading share</label></td>#}
{#                    <td><input type="text" id="id_trading_share" name="trading_share"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="Submit"></td>#}
{#                </tr>#}
{#            </table>#}
{#        </form>#}
{##}
{#        </div>#}
{#    </div>#}

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
